In [2]:
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world

In [3]:
# Loops for , while
# for iterator in iterable:
# statement

In [11]:
for num in range(1,11,2):
    print(num)
    
print("outside from the body of a loop")

1
3
5
7
9
outside from the body of a loop

In [15]:
sum = 0 
for num in range(1,11):
    sum=sum+num
    print(sum)
print(sum)

1
3
6
10
15
21
28
36
45
55
55

In [16]:
sum = 0 
for num in range(1,11):
    sum=sum+num
print(sum)

55

In [18]:
product = 1 
for num in range(1,11):
    product=product*num
print(product)

3628800

In [23]:
for num in range(1,11):
    print(num,"-","Hello world")

1 - Hello world
2 - Hello world
3 - Hello world
4 - Hello world
5 - Hello world
6 - Hello world
7 - Hello world
8 - Hello world
9 - Hello world
10 - Hello world

In [28]:
student_list = ["Abdul waheed","Asma","Muqaddas"]
print(student_list)

['Abdul waheed', 'Asma', 'Muqaddas']

In [54]:
for num,student in enumerate(student_list,start=1):
    print(num,student)

1 Abdul waheed
2 Asma
3 Muqaddas

In [60]:
for student in range(len(student_list)):
    index = student_list[student]
    print(student,index)

0 Abdul waheed
1 Asma
2 Muqaddas

In [51]:
lang = 'Python'
for char in lang:
    print(char)

P
y
t
h
o
n

In [68]:
sample = []
fruits = ['apple','banana','cherry']
for fruit in fruits:
    sample.append(fruit)
print("Fruits in sample list",sample)
print("Fruit in fruits list",fruits)

Fruits in sample list ['apple', 'banana', 'cherry']
Fruit in fruits list ['apple', 'banana', 'cherry']

In [73]:
num_list = [1,3,7,9]
sq_num = []
for num in num_list:
    sq_num.append(num**2)
print(num_list)
print(sq_num)

[1, 3, 7, 9]
[1, 9, 49, 81]