In [1]:
# Block of Code

In [9]:
# Keyword 
def greet():
    print('Hello World!')
    print('Hello World!')
    print('Hello World!')
print("outside from function body")

outside from function body

In [10]:
greet()

Hello World!
Hello World!
Hello World!

In [15]:
def hello(user):
    print("Hello",user)
hello("Ali")

Hello Ali

In [21]:
def hello(fname,lname):
    print("Fname",fname)
    print("Lname",lname)

In [22]:
fname = input("Enter your First Name: ")
lname = input("Enter your Last Name: ")

hello(fname,lname)

Enter your First Name: Sajid
Enter your Last Name: Majeed
Fname Sajid
Lname Majeed

In [37]:
def sum(num1,num2):
    add = num1+num2
    avg = (num1+num2)/2
    prod = num1*num2
    return add,avg,prod

In [38]:
num1 = int(input("Enter your No"))
num2 = int(input("Enter your No"))
sum(num1,num2)

Enter your No30
Enter your No40

(70, 35.0, 1200)

In [39]:
num1 = int(input("Enter your No"))
num2 = int(input("Enter your No"))
sum(num1,num2)

Enter your No40
Enter your No50

(90, 45.0, 2000)

In [44]:
def sum(num1,num2):
    add = num1+num2
    avg = (num1+num2)/2
    prod = num1*num2
    return add,avg,prod

for i in range(3):
    num1 = int(input("Enter your No"))
    num2 = int(input("Enter your No"))
    print(sum(num1,num2))

Enter your No34
Enter your No45
(79, 39.5, 1530)
Enter your No56
Enter your No67
(123, 61.5, 3752)
Enter your No56
Enter your No78
(134, 67.0, 4368)

In [45]:
def prod(num1,num2,num3,num4,num5):
    return num1*num2*num3*num4*num5

for i in range(1):
    num1 = int(input("Enter your No"))
    num2 = int(input("Enter your No"))
    num3 = int(input("Enter your No"))
    num4 = int(input("Enter your No"))
    num5 = int(input("Enter your No"))
    print(prod(num1,num2,num3,num4,num5))

Enter your No1
Enter your No2
Enter your No3
Enter your No4
Enter your No5
120

In [46]:
def square_cube(num):
    sq = num**2
    cube = num**3
    return num,sq,cube

In [47]:
num  = int(input ("Enter a number: "))
square_cube(num)

Enter a number: 2

(2, 4, 8)

In [ ]:
num = [2,3,4,5]
sq_list = [4,9,16,25]

In [57]:
num = [1,2,3,4]
print([x**2 for x in num])
[x**3 for x in num]

[1, 4, 9, 16]

[1, 8, 27, 64]

In [58]:
def sq_list(input_list):
    return [x**2 for x in input_list]
    
input_list = [2,3,4,5]
sq_list(input_list)

[4, 9, 16, 25]

In [66]:
list= [1,2,3,4]
[x for x in list]

[1, 2, 3, 4]

In [80]:
sum=0
for i in list:
    sum=sum+i
print(sum)

10