In [1]:
print("Welcome to python class")

Welcome to python class

In [1]:
first_name = "Sajid"
Last_name = "Majeed"
print(first_name)
print(Last_name)
print(first_name,Last_name)

Sajid
Majeed
Sajid Majeed

In [2]:
print(type(first_name))

<class 'str'>

In [1]:
num1= 89
num2=45.5
print(type(num1))
print(type(num2))

<class 'int'>
<class 'float'>

In [2]:
print(num1)
num1=float(num1)
print(num1)
print(type(num1))

89
89.0
<class 'float'>

In [10]:
num1='121'
num1= int(num1)
print(num1)
print(type(num1))

121
<class 'int'>

In [6]:
'2'+'2'

'22'

# Arithmetic Operators (+,-,*,/)

In [20]:
num1=67
num2=70
sum = num1+num2
difference = num1 -num2
product = num1 * num2
division = round(num1/num2,3)
print('The sum of',num1,'and',num2,'is',sum)
print('The Difference of',num1,'and',num2,'is',difference)
print('The Product of',num1,'and',num2,'is',product)
print('The Division of',num1,'and',num2,'is',division)

The sum of 67 and 70 is 137
The Difference of 67 and 70 is -3
The Product of 67 and 70 is 4690
The Division of 67 and 70 is 0.957

In [24]:
input()

sajid

'sajid'

In [2]:
name = 'Ahmed'
age =34

In [5]:
name = input("Enter your Name: ")
age = float(input("Enter your Age: "))
print(name)
print(age)
print(type(name))
print(type(age))

Enter your Name: Ali
Enter your Age: 33
Ali
33.0
<class 'str'>
<class 'float'>

In [18]:
# force = ? mass = 72 acc = 20.8 => f=ma
mass = float(input("Enter Mass Value: "))
acc = float(input("Enter Acc Value: "))
force =  mass * acc
print("The force is",round(force,2))

Enter Mass Value: 72
Enter Acc Value: 20.8
The force is 1497.6

In [17]:
a='Pakistan'
b='Hello'
print(b+' '+a)

Hello Pakistan

In [43]:
DNA='ATCGATCGATCGATCGATCGATCGACGACGATCGATCGATCGATCGATCGATCGATCG'
len(DNA)

58

In [44]:
gt= DNA.count('GAT')

In [45]:
DNA1='agtcagtcgtacgtagta'
DNA2=DNA1.upper()
print("Orignal:",DNA2)
print("updated",DNA1)
DNA2.lower()

Orignal: AGTCAGTCGTACGTAGTA
updated agtcagtcgtacgtagta

'agtcagtcgtacgtagta'

In [46]:
total_DNA_Length= len(DNA)
count_of_G=DNA.count('G')
perentage_of_G = (count_of_G/total_DNA_Length)*100
print(perentage_of_G)

In [54]:
total_DNA_Length= len(DNA)
count_of_GT=DNA.count('G')+DNA.count('T')
print("Total length of DNA",total_DNA_Length)
print("GT present in DNA",count_of_GT)
perentage_of_GT = (count_of_GT/total_DNA_Length)*100
print(perentage_of_GT)

Total length of DNA 58
GT present in DNA 28
48.275862068965516