## Week1 Day2

In [1]:
print('Sajid Majeed')

Sajid Majeed

In [2]:
print("Sajid Majeed")

Sajid Majeed

In [3]:
# Data types Integer, Float , String , Boolean
# type() function used to check variable data type
name = "Ned Academy"
print(type(name))
age = 30
print(type((age)))
salary = 20.5
print(type((salary)))
is_job= True
print(type((is_job)))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [4]:
# Type casting
x = str(3)
y = int(3.0)
z = float(3)
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
# variable decleration not started from any number
# firstName 
# FirstName
# _First_Name
# firstname

In [27]:
# Assignment Solution
first_name = "Sajid"
last_name = "Majeed"
age = 24
gender = "Male"
designation = "Lecturer"
organization = "NED"
cgpa = 3.9
is_working = True

In [34]:
# printing all variable 
print("=================================================")
print("\t\t  My Profile")
print("=================================================")
print("Name:\t\t",first_name +' '+last_name)
print("Gender:\t\t" ,gender)
print("Age:\t\t" ,age)
print("Designation:\t" ,designation)
print("Organization:\t" ,organization)
print("Is Working:\t" ,is_working)
print("CGPA:\t\t",cgpa)
print("=================================================")

=================================================
		  My Profile
=================================================
Name:		 Sajid Majeed
Gender:		 Male
Age:		 24
Designation:	 Lecturer
Organization:	 NED
Is Working:	 True
CGPA:		 3.9
=================================================

In [35]:
x=4
y=4
z=4

In [39]:
# one value to multiple variables 
x = y = z = 4
print(x)
print(y)
print(z)

4
4
4

In [44]:
# multiple values to multiple variables 
x , y , z = 4,5,6
print(x)
print(y)
print(z)

4
5
6

## Dynamic Program

In [47]:
# taking input from a user
name = input("Enter your Name:")
print("Name:",name)

Enter your Name: Zeeshan

Name: Zeeshan

In [48]:
print(type(name))

<class 'str'>

In [54]:
age = input("Enter your Age:")
print("Age:",age)

Enter your Age: 30

Age: 30

In [55]:
print(type(age))

<class 'str'>

In [61]:
age = float(input("Enter your Age:"))
print("Age:",age)
print(type(age))

Enter your Age: 30

Age: 30.0
<class 'float'>

In [66]:
number1= float(input("Enter your Number"))
number2= float(input("Enter your Number"))
add = number2+number1
print("The Sum of two number is",add)

Enter your Number 56
Enter your Number 78

The Sum of two number is 134.0

In [67]:
txt = "we are learning python"
print(txt)

we are learning python

In [68]:
txt.upper()

'WE ARE LEARNING PYTHON'

In [69]:
txt1='WE ARE LEARNING PYTHON'
txt1.lower()

'we are learning python'

In [ ]:
# Arithmatic operator (==,+,-,*)